@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import './components/forms/';
@import './components/header/';
@import './components/loginTextBlock/';
@import './pages/home/';
@import './pages/SignIn/';
@import './pages/SignUp/';
@import './layout/HeaderLayout/';


:root {
  font-family: Rubik, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --purple: #7978D9;
  --light-blue: #3A9FF1;

  --cyan: #05EDE3;
  --orange: #FA8C10;
  --pink: #FF57D3;
  --text-dark: #000A4A;
  --white: #fff;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1240px;
}
